<!DOCTYPE html>
<html>
<head>
<center>
	<font color="DodgerBlue" size="5" style="font-family: avenir">
		<body bgcolor="white">
		    <form method ="post" action="/hr">
				<button type="submit" name="emp_info" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;"> GET EMPLOYEE INFO</button>
				<button type="submit" name="emp_info" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">INSERT EMPLOYEE INFO</button>
				<button type="submit" name="my_info" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">MY INFO</button>
			</form>
		</body>
	</font>
</center>
</head>
<body>
	
</body>
</html>