<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
	<font color="black" size="4" style="font-family: avenir">
    <h1 style="color: Orange;font-size:40pt;"><b>Clairvoyant</b></h1>
<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Location</th>
  </tr>
  <tr>
    <td>{{f_name}}</td>
    <td>{{l_name}}</td> 
    <td>{{location}}</td>
  </tr>
</table>
</body>

</html>